---
import AppStoreButtons from './AppStoreButtons.astro';
---

<aside>
	<h2>Ready to get started?</h2>
	<p class="subtitle">Download now and join thousands of happy users.</p>
	<AppStoreButtons />
</aside>

<style>
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
		border-top: 1px solid var(--gray-800);
		border-bottom: 1px solid var(--gray-800);
		padding: 5rem 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
		text-align: center;
	}

	h2 {
		font-size: var(--text-xl);
		max-width: 15ch;
	}

	.subtitle {
		color: var(--gray-400);
		font-size: var(--text-md);
		max-width: 30ch;
	}

	@media (min-width: 50em) {
		aside {
			padding: 7.5rem;
			gap: 2rem;
		}

		h2 {
			font-size: var(--text-3xl);
		}

		.subtitle {
			font-size: var(--text-lg);
		}
	}
</style>
