---
import { SEO } from 'astro-seo';
import '../styles/global.css';
import siteConfig from '../../site.config.json';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
	image?: string | undefined;
	noindex?: boolean | undefined;
}

const {
	title = siteConfig.meta.title,
	description = siteConfig.meta.description,
	image = siteConfig.meta.ogImagePath,
	noindex = false,
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		{noindex && <meta name="robots" content="noindex, nofollow" />}
		<SEO
			title={title}
			description={description}
			canonical={canonicalURL.href}
			openGraph={{
				basic: {
					title: title,
					type: 'website',
					image: image,
				},
				optional: {
					description: description,
					siteName: siteConfig.app.name,
				},
			}}
			twitter={{
				card: 'summary_large_image',
				title: title,
				description: description,
				image: image,
			}}
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&family=Rubik:wght@500;600&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<slot />

		<script>
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>
	</body>
</html>
